.wrapper {
  position: relative;
}

.content {
  color: var(--color-white);
  font-size: var(--fsz-xxl);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 164px 0;
  text-align: center;
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
}

.title,
.description {
}

@media (max-width: 480px) {
  .content {
    font-size: var(--fsz-md);
  }
}

@media (max-width: 360px) {
  .content {
    font-size: var(--fsz-xs);
  }
}
