.wrapper {
  padding: 20px 0;
  background-color: var(--background-color-extra-light-blue);
  position: relative;
}
.inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.logo {
  margin-right: auto;
  width: 195px;
  height: 104px;
}

.navigation {
  flex-grow: 2;
  margin: 0 20px;
}
.menu {
  margin-bottom: 10px;
}

.menu_btn {
  display: none;
}

.intaractions_box {
  margin-left: auto;
  min-width: 196px;
  text-align: right;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-end;
}

.phone {
  position: relative;
  color: var(--color-text-blue);
  margin-bottom: 10px;
  font-size: var(--fsz-xs);
}

.phone:before {
  width: 36px;
  height: 36px;
  position: absolute;
  content: "";
  background-image: url("../../../../public/ic-phone.svg");
  left: 0px;
  top: -6px;
}

.request_btn {
}

@media (max-width: 960px) {
  .logo,
  .logo img {
    width: 148px;
    height: 78px;
  }
}

@media (max-width: 960px) {
  .intaractions_box {
    position: absolute;
    right: 20px;
    bottom: 0;
  }
  .phone {
    margin-bottom: 30px;
  }
  .request_btn {
    display: none;
  }

  .search {
    width: calc(100% - 190px);
  }
}
@media (max-width: 720px) {
  .navigation {
    margin-left: 10px;
  }
}

@media (max-width: 680px) {
  .intaractions_box {
    display: none;
  }

  .nav_box .phone {
    display: initial;
  }

  .menu_btn {
    display: initial;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 8px;
    margin-right: 0;
  }

  .search {
    width: initial;
    flex-grow: 2;
  }

  .menu_btn {
    margin-left: 8px;
  }
  .menu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-color-extra-light-blue);
    z-index: 99;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .menu--opened {
    transform: translateX(0);
  }

  .nav_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0;
  }

  .logo,
  .logo img {
    width: 98px;
    height: 48px;
  }
}
