.wrapper {
  margin: 20px 0 40px 0;
}

.inner {
  font-size: var(--fsz-sm);
  display: flex;
  flex-flow: column wrap;
  padding: 67px 0;
  box-sizing: content-box;
  height: 460px;
  justify-content: center;
  align-items: flex-end;
}

.image_box,
.description,
.list {
  width: calc(50% - 15px);
}

.image_box {
  position: relative;
  height: 460px;
  margin-right: auto;
  border-radius: var(--border-radius-default);
  overflow: hidden;
}

.list {
  list-style: none;
  margin-top: 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.item {
  position: relative;
  padding-left: 37px;
}

.item::before {
  position: absolute;
  width: 37px;
  height: 36px;
  left: 0;
  top: 0;
  content: "";
  background-image: url("../../../../public/ic-location.svg");
}
.item + .item {
  margin-top: 8px;
}

@media (max-width: 1060px) {
  .image_box {
    height: 514px;
  }
}

@media (max-width: 960px) {
  .wrapper {
    margin-bottom: 25px;
  }
  .inner {
    padding: 0;
    margin-top: 30px;
  }
  .image_box {
    height: 460px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin-bottom: 50px;
  }
  .inner {
    margin-top: 10px;
    font-size: var(--fsz-xs);
    height: 360px;
  }

  .image_box,
  .list {
    width: calc(50% - 10px);
  }
  .description {
    order: -1;
    width: 100%;
  }
  .image_box {
    height: 240px;
    margin-top: 20px;
  }
  .list {
    min-height: 240px;
    margin-left: -50vw;
    margin-top: 80px;
  }
}

@media (max-width: 520px) {
  .inner {
    height: 400px;
  }
}

@media (max-width: 468px) {
  .inner {
    height: initial;
  }
  .description {
    margin-top: 20px;
  }
  .image_box {
    height: 240px;
  }
  .image_box,
  .list {
    width: 100%;
  }
  .list {
    margin-top: 20px;
    min-height: initial;
  }
}
