.wrapper {
  padding: 52px 0;
  background-color: var(--background-color-light-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-white);
}

.inner {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
}

.info_box,
.links_box {
  width: calc(50% - 40px);
}

.info_box {
  display: flex;
  flex-direction: column;
}

.company_info {
  display: flex;
  flex-flow: row wrap;
}

/* Logo */
.logo,
.logo__img {
  width: 148px;
  height: 78px;
}
.logo {
  margin-right: 45px;
}
/* Description */
.description {
  font-size: var(--fsz-sm);
  flex-basis: 331px;
  flex-shrink: 1;
}

/* Address */
.address {
  font-size: var(--fsz-xs);
  line-height: 1.2;
}

.address_wrapper--desk {
  margin-top: 40px;
}

.address_wrapper--mob {
  display: none;
}

.links_box {
  display: flex;
  flex-flow: row nowrap;
}

/* SiteMap */
.site_map {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
}
.site_map__heading {
  margin-bottom: 16px;
  font-size: var(--fsz-sm);
}

.site_map__list {
  list-style: none;
  font-size: var(--fsz-xs);
}

.site_map__item {
}
.site_map__item + .site_map__item {
  margin-top: 6px;
}

/* Contacts */
.contacts {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
}

.contacts__heading {
  margin-bottom: 16px;
  font-size: var(--fsz-sm);
}

.contacts__list {
  list-style: none;
  font-size: var(--fsz-xs);
}

.contacts__item {
}
.contacts__item + .site_map__item {
  margin-top: 6px;
}

@media (max-width: 960px) {
  .info_box,
  .links_box {
    width: calc(50% - 10px);
  }

  .company_info {
    flex-flow: column nowrap;
  }

  .description {
    margin-top: 40px;
    flex-basis: initial;
  }

  .address {
    font-size: var(--fsz-xxs);
    line-height: 1.3;
    font-weight: 200;
  }

  .address_wrapper--desk {
    margin-top: 80px;
  }
}

@media (max-width: 700px) {
  .wrapper {
    padding: 20px 0;
  }

  .inner {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  .info_box {
    min-width: initial;
    width: initial;
  }
  .company_info {
    flex-direction: row;
    min-width: initial;
  }
  .logo,
  .logo__img {
    margin-right: 20px;
  }
  .description {
    margin-top: 0;
    font-size: var(--fsz-xs);
    width: initial;
  }

  .links_box {
    width: 100%;
    margin-top: 40px;
  }
  .address_wrapper--desk {
    display: none;
  }
  .address_wrapper--mob {
    display: block;
    margin-top: 40px;
  }
}

@media (max-width: 480px) {
  .company_info {
    flex-direction: column;
    align-items: center;
  }
  .description {
    margin-top: 20px;
  }
}
