.wrapper {
  padding: 50px 0;
}

.section {
}
.section--contacts {
  margin-top: 30px;
  margin-bottom: 50px;
}

.section--dealers {
  margin-top: 100px;
}

.description {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: var(--fsz-sm);
  line-height: 1.3;
}

@media (max-width: 960px) {
  .description {
    margin-bottom: 20px;
  }
}

@media (max-width: 568px) {
  .description {
    font-size: var(--fsz-xxs);
  }
}

@media (max-width: 480px) {
  .description {
    margin-bottom: 30px;
  }
}
