.wrapper {
  padding-bottom: 100px;
}

.description {
  font-size: var(--fsz-xs);
  line-height: 1.3;
  color: var(--color-text-extra-dark);
  margin-bottom: 50px;
  white-space: pre-wrap;
}

.list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.list__item {
  width: calc(100% / 3 - 10px);
  max-width: 412px;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}

.list__item:nth-child(3n + 1)::before {
  content: "";
  position: absolute;
  width: calc(300% + 40px);
  height: 2px;
  background-color: var(--decorative-color-blue);
  top: -40px;
}

.form {
  margin-top: 10px;
}

@media (max-width: 960px) {
  .list__item {
    width: calc(100% / 2 - 10px);
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .list__item:nth-child(3n + 1)::before {
    display: none;
  }

  .list__item:nth-child(2n + 1)::before {
    content: "";
    position: absolute;
    width: calc(200% + 20px);
    height: 2px;
    background-color: var(--decorative-color-blue);
    top: -40px;
    display: block;
  }
}

@media (max-width: 580px) {
  .wrapper {
    padding-bottom: 50px;
  }

  .form {
    margin-top: 30px;
  }
  .list__item {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .list__item:nth-child(2n + 1)::before {
    top: -20px;
  }
}

@media (max-width: 500px) {
  .list__item {
    width: 100%;
  }

  /* .list__item:nth-child(2n + 1)::before, */
  .list__item:nth-child(n + 1)::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--decorative-color-blue);
    top: -20px;
    display: block;
  }
}
