.wrapper {
  padding-bottom: 100px;
}

.image {
  width: 100%;
}

.image--worker {
  
}

.image--table {
 
}


.form {
  margin-top: 50px;
}

@media (max-width: 480px) {
  .image--scheme {
    margin-bottom: 40px;
  }
}
