.wrapper {
}

.heading {
  margin-bottom: 20px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.item {
  width: calc(50% - 10px);
}

@media (max-width: 1060px) {
}

@media (max-width: 960px) {
  .title {
    margin: 10px 0;
  }

  .inner {
    padding: 15px 0;
  }
  .image_box {
    height: 540px;
  }
}

@media (max-width: 860px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .title {
    font-size: var(--fsz-md);
  }
  .list {
    flex-flow: column nowrap;
  }
  .item {
    width: 100%;
  }
  .item + .item {
    margin-top: 20px;
  }
}

@media (max-width: 360px) {
}
