.wrapper {
  padding-bottom: 100px;
}

.image {
  margin-bottom: 100px;
}

.image--scheme {
}

.image--components {
}

.image--technical_info {
}

.image--assembled_table {
  margin-bottom: 50px;
}

.image--assembled_img {
}

.form {
  margin-top: 50px;
}

@media (max-width: 480px) {
  .image {
    margin-bottom: 50px;
  }

  .image--assembled_table {
    margin-bottom: 25px;
  }
}
