.wrapper {
  margin: 100px 0;
}
.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 40px;
}

.item {
  width: calc(100% / 3 - 10px);
  height: 480px;
  margin-top: 40px;
}
